{% load staticfiles %}
<section class="fest section color" id="fest">
    <div class="container">
        <h3 class="header-title">
        <span class="icons">
            <span class="fa-stack">
                <i class="fa rhex fa-stack-2x"></i>
                <i class="fa fa-star fa-stack-1x" aria-hidden="true"></i>
            </span>
        </span>
        <span class="title-text">Эл аралык Карек фестивалы</span>
        </h3>
        <div class="fest-info">
            <p>
                “Иш чаранын максаты балдардын бош убактарында интернеттен туура эмес маалыматтарды алгандын ордуна, жакшы жакка умтулуп, келечекте жакшы чыгармачыл инсандарды пайда кылуу”, — деди Маданият, маалымат жана туризм министри Алтынбек Максүтов.
            </p>
            <p>
                “Карек” кино фестивалынын жетекчиси Толкун Дайырбекованын айтымында, иш-чара жыл сайын өткөрүлүп турмакчы.
            </p>
            <p>
                “Тасманы 10 мүнөттүн тегерегинде кыска метраждуу кылып жана каалаган камерада, телефондо, планшетте тартса болот. Уюштуруу идеясы Кыргыз киносунун ээлери, ошондой эле Алтынбек Максүтовго таандык”, - деп айтты Дайырбекова Kloop.kgге курган маегинде.
            </p>
        </div>
    </div>
</section>