{% load staticfiles %}
<section class="founders2 section" id="founders">
    <div class="container">
        <h3 class="header-title">
        <span class="icons">
            <span class="fa-stack">
                <i class="fa rhex fa-stack-2x"></i>
                <i class="fa fa-user fa-stack-1x"></i>
            </span>
        </span>
        <span class="title-text">Негиздөөчүлөр</span>
        </h3>
        <div class="row">
            {% if founders_list %}
                {% for founder in founders_list %}
                    <div class="col-sm-6 col-xs-12 founders2-col">
                        <div class="founders2-thumb">
                            {% load thumbnail %}
                                <img src="{% thumbnail founder.image 50x50 crop %}" alt="">
                        </div>
                        <div class="founders2-info">
                            <h4 class="title">{{ founder.name }}</h4>
                            <div class="content">{{ founder.desc }}</div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>