{% load staticfiles %}
<section class="founders2 section" id="founders">
    <div class="container">
        <h3 class="header-title">
        <span class="icons">
            <span class="fa-stack">
                <i class="fa rhex fa-stack-2x"></i>
                <i class="fa fa-user fa-stack-1x"></i>
            </span>
        </span>
        <span class="title-text">Негиздөөчүлөр</span>
        </h3>
        <div class="row">
            <div class="col-sm-6 col-xs-12 founders2-col">
                <div class="founders2-thumb">
                    <img src="{% static 'assets/images/advert/1.jpg' %}" alt="">
                </div>
                <div class="founders2-info">
                    <h4 class="title">Эрнест Абдыжапаров</h4>
                    <div class="content">
                        Организаторы - Министерство культуры КР, Союз кинематографистов КР, кинотеатр "Кыргыз киносу" и частные киностудии.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 founders2-col">
                <div class="founders2-thumb">
                    <img src="{% static 'assets/images/advert/2.jpg' %}" alt="">
                </div>
                <div class="founders2-info">
                    <h4 class="title">Темир Бирназаров</h4>
                    <div class="content">Каждый ребенок – большой талант, которому есть что сказать миру, посредством кинематографа. Мы хотим открыть эти таланты.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>