{% load staticfiles %}
<header>
    <nav class="navbar navbar-top navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="logo">
                    <a class="page-scroll" href="#page-top">
                        <img src="http://www.impacthub.net/hubfs/Impact_Hub_Sept2016_Theme/Image/impact-hub-logo.png?t=1493125495164" alt="">
                        <span>Карек фестивалы</span>
                    </a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-top">
                <ul class="nav navbar-nav navbar-right navbar-menu">
                    <li><a class="page-scroll" href="#advert">Пресс релиздер</a></li>
                    <li><a class="page-scroll" href="#news">Жарыялар</a></li>
                    <li><a class="page-scroll" href="#nominant">Номинациялар</a></li>
                    <li><a class="page-scroll" href="#gallery">Галерея</a></li>
                    <li><a class="page-scroll" href="#founders">Негиздөөчүлөр</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>