{% load staticfiles %}
{% load sitetree %}
<header>
    <nav class="navbar navbar-top navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="logo">
                    <a class="page-scroll" href="#page-top">
                        {% if social_list %}
                            {% for social in social_list %}
                                <img src="{{ social.logo.url }}" alt="">
                                <span>{{ social.header }}</span>
                            {% endfor %}
                        {% endif %}

                    </a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-top">
                {% sitetree_tree from "main_menu" include "trunk,topmenu" template 'sitetree/menu.html'%}
            </div>
        </div>
    </nav>
</header>