{% load staticfiles %}
<section class="news section light" id="news">
    <div class="container">
        <h3 class="header-title">
        <span class="icons">
            <span class="fa-stack">
                <i class="fa rhex fa-stack-2x"></i>
                <i class="fa fa-newspaper-o fa-stack-1x" aria-hidden="true"></i>
            </span>
        </span>
        <span class="title-text">Объявление / Жарыя / Новости</span>
        </h3>
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <article class="media">
                    <div class="post-media">
                        <img src="{% static 'assets/images/post/1.jpg' %}" alt="">
                    </div>
                    <div class="post-header">
                        <h2 class="post-title"><a href="#">Департамент кинематографии объявляет конкурс на должность режиссера-постановщика художественного фильма “Тайлак Баатыр”</a></h2>
                    </div>
                </article>
            </div>
            <div class="col-sm-4 col-xs-12">
                <article class="media">
                    <div class="post-media">
                        <img src="{% static 'assets/images/post/2.jpg' %}" alt="">
                    </div>
                    <div class="post-header">
                        <h2 class="post-title"><a href="#">Кыргызская Высшая Школа Киноискусства и Телевидения объявляет набор на курсы по специальности "Кинопродюсер" КИНОПРОДЮСЕР</a></h2>
                    </div>
                </article>
            </div>
            <div class="col-sm-4 col-xs-12">
                <article class="media">
                    <div class="post-media">
                        <img src="{% static 'assets/images/post/3.jpg' %}" alt="">
                    </div>
                    <div class="post-header">
                        <h2 class="post-title"><a href="#">Кыргызская Высшая Школа Киноискусства и Телевидения объявляет набор на курсы по специальности «КИНОДРАМАТУРГ ИГРОВОГО КИНО»</a></h2>
                    </div>
                </article>
            </div>
        </div>
        <div class="text-center margin-top">
            <a href="#" class="btn btn-theme">Баардыгын көрүү</a>
        </div>
    </div>
</section>