{% load staticfiles %}
<section class="nominant section" id="nominant">
   <div class="container">
      <h3 class="header-title">
         <span class="icons">
         <span class="fa-stack">
         <i class="fa rhex fa-stack-2x"></i>
         <i class="fa fa-thumbs-up fa-stack-1x"></i>
         </span>
         </span>
         <span class="title-text">Жеңүүчүлөр</span>
      </h3>
      <div class="row">
         <div class="col-sm-12 col-xs-12">
            <div class="schedule-wrapper">
               <!-- tab1 -->
               <div class="">
                  <div class="schedule-tabs lv1">
                     <ul class="navtabs nav-justified" id="numTabs">
                        <li class="active"><a href="tabs/tab-first.html" data-target="#tab-first" id="first_tab" data-toggle="tabajax" rel="tooltip">Лучший игровой фильм</a></li>
                        <li class=""><a href="tabs/tab-second.html" data-target="#tab-second" id="second_tab" data-toggle="tabajax" rel="tooltip">Лучший анимационный фильм</a></li>
                        <li class=""><a href="tabs/tab-third.html" data-target="#tab-third" id="third_tab" data-toggle="tabajax" rel="tooltip">Лучший документальный фильм</a></li>
                     </ul>
                  </div>
                  <div class="tab-content lv2">
                     <div id="tab-first" class="tab-pane fade active in">

                     </div>
                     <div id="tab-second" class="tab-pane fade">

                     </div>
                     <div id="tab-third" class="tab-pane fade">

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>