{% load staticfiles %}
<div class="slick-slider">
    {% if slider_list %}
        {% for slider in slider_list %}
            <div>
                <img src="{{ slider.image.url }}" alt="">
                <div class="desc container">
                    <div class="desc-title">
                        {{ slider.link.title }}
                    </div>
                    <div class="desc-content">
                        {{ slider.desc }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>