{% load staticfiles %}
<section class="sponsors section light" id="sponsors">
   <div class="container padding-bottom">
      <h3 class="header-title">
      <span class="icons">
         <span class="fa-stack">
            <i class="fa rhex fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x"></i>
         </span>
      </span>
      <span class="title-text">Партнерлор</span>
      </h3>
      <div class="row">
         <div class="sponsors-item">
            <div class="div">
               <div class="col-xs-12">
                  <a href="#" >
                     <img src="{% static 'assets/images/post/1.jpg' %}" alt="">
                  </a>
               </div>
            </div>
            <div class="div">
               <div class="col-xs-12">
                  <a href="#" >
                     <img src="{% static 'assets/images/post/2.jpg' %}" alt="">
                  </a>
               </div>
            </div>
            <div class="div">
               <div class="col-xs-12">
                  <a href="#" >
                     <img src="{% static 'assets/images/post/3.jpg' %}" alt="">
                  </a>
               </div>
            </div>
            <div class="div">
               <div class="col-xs-12">
                  <a href="#" >
                     <img src="{% static 'assets/images/post/1.jpg' %}" alt="">
                  </a>
               </div>
            </div>
            <div class="div">
               <div class="col-xs-12">
                  <a href="#" >
                     <img src="{% static 'assets/images/post/2.jpg' %}" alt="">
                  </a>
               </div>
            </div>
            <div class="div">
               <div class="col-xs-12">
                  <a href="#" >
                     <img src="{% static 'assets/images/post/3.jpg' %}" alt="">
                  </a>
               </div>
            </div>
            <div class="div">
               <div class="col-xs-12">
                  <a href="#" >
                     <img src="{% static 'assets/images/post/1.jpg' %}" alt="">
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>