{% load staticfiles %}
<div class="timeline">
   <article class="post-wrap animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="200">
      <div class="media">
         <div class="post-media pull-left">
            <div class="post-media-img">
               <img src="{% static 'assets/images/winners/2.jpg' %}" alt="" class="media-object">
            </div>
            <div class="watch">
               <a href="#" class="btn btn-theme">Видео</a>
            </div>
         </div>
         <div class="media-body">
            <div class="post-header">
               <h2 class="post-title">Дүйшөбаева Айжамал</h2>
            </div>
            <div class="post-body">
               <div class="post-excerpt">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae diam metus. Donec cursus magna eget sem convallis facilisis. Vestibulum dictum nibh at ullamcorper tincidunt. Phasellus scelerisque nisl non ullamcorper pellentesque. Nunc sagittis, felis in feugiat mollis, libero eros consectetur elit non cursus lacus nisl at dolor.</p>
               </div>
            </div>
            <div class="post-footer">
               <span class="post-readmore">
               <a href="#"><i class="fa fa-facebook"></i></a>
               <a href="#"><i class="fa fa-twitter"></i></a>
               <a href="#"><i class="fa fa-instagram"></i></a>
               </span>
            </div>
         </div>
         <div class="image-gallery">
            <ul id="hash2" class="list-unstyled row">
               <li data-src="{% static 'assets/images/winners/gallery/1-1600.jpg' %}" data-sub-html="<h4>Аталышы</h4><p>Сүрөттүн мазмуну</p>">
                  <a href="#">
                     <img class="img-responsive" src="{% static 'assets/images/winners/gallery/thumb-1.jpg' %}">
                     <div class="image-gallery-poster">
                        <img src="{% static 'assets/images/zoom.png' %}">
                     </div>
                  </a>
               </li>
               <li data-src="{% static 'assets/images/winners/gallery/2-1600.jpg' %}" data-sub-html="<h4>Аталышы</h4><p>Сүрөттүн мазмуну</p>">
                  <a href="#">
                     <img class="img-responsive" src="{% static 'assets/images/winners/gallery/thumb-2.jpg' %}">
                     <div class="image-gallery-poster">
                        <img src="{% static 'assets/images/zoom.png' %}">
                     </div>
                  </a>
               </li>
               <li data-src="{% static 'assets/images/winners/gallery/13-1600.jpg' %}" data-sub-html="<h4>Аталышы</h4><p>Сүрөттүн мазмуну</p>">
                  <a href="#">
                     <img class="img-responsive" src="{% static 'assets/images/winners/gallery/thumb-13.jpg' %}">
                     <div class="image-gallery-poster">
                        <img src="{% static 'assets/images/zoom.png' %}">
                     </div>
                  </a>
               </li>
               <li data-src="{% static 'assets/images/winners/gallery/4-1600.jpg' %}" data-sub-html="<h4>Аталышы</h4><p>Сүрөттүн мазмуну</p>">
                  <a href="#">
                     <img class="img-responsive" src="{% static 'assets/images/winners/gallery/thumb-4.jpg' %}">
                     <div class="image-gallery-poster">
                        <img src="{% static 'assets/images/zoom.png' %}">
                     </div>
                  </a>
               </li>
               <li data-src="{% static 'assets/images/winners/gallery/1-1600.jpg' %}" data-sub-html="<h4>Аталышы</h4><p>Сүрөттүн мазмуну</p>">
                  <a href="#">
                     <img class="img-responsive" src="{% static 'assets/images/winners/gallery/thumb-1.jpg' %}">
                     <div class="image-gallery-poster">
                        <img src="{% static 'assets/images/zoom.png' %}">
                     </div>
                  </a>
               </li>
               <li data-src="{% static 'assets/images/winners/gallery/2-1600.jpg' %}" data-sub-html="<h4>Аталышы</h4><p>Сүрөттүн мазмуну</p>">
                  <a href="#">
                     <img class="img-responsive" src="{% static 'assets/images/winners/gallery/thumb-2.jpg' %}">
                     <div class="image-gallery-poster">
                        <img src="{% static 'assets/images/zoom.png' %}">
                     </div>
                  </a>
               </li>
               <li data-src="{% static 'assets/images/winners/gallery/13-1600.jpg' %}" data-sub-html="<h4>Аталышы</h4><p>Сүрөттүн мазмуну</p>">
                  <a href="#">
                     <img class="img-responsive" src="{% static 'assets/images/winners/gallery/thumb-13.jpg' %}">
                     <div class="image-gallery-poster">
                        <img src="{% static 'assets/images/zoom.png' %}">
                     </div>
                  </a>
               </li>
               <li data-src="{% static 'assets/images/winners/gallery/4-1600.jpg' %}" data-sub-html="<h4>Аталышы</h4><p>Сүрөттүн мазмуну</p>">
                  <a href="#">
                     <img class="img-responsive" src="{% static 'assets/images/winners/gallery/thumb-4.jpg' %}">
                     <div class="image-gallery-poster">
                        <img src="{% static 'assets/images/zoom.png' %}">
                     </div>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </article>
</div>