$pt-sans: 'PT Sans', Arial, sans-serif;
$pt-sans-bold: 'PT Sans Bold', Arial, sans-serif;

$museo-700: 'Museo 700', Arial, sans-serif;
$museo-900: 'Museo 900', Arial, sans-serif;

$fira-sans: 'Fira Sans Medium', Arial, sans-serif;

$title: #5366ce;