<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Эл аралык Карек фестивалы</title>
    {% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'assets/css/_bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/scrolling-nav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lightgallery.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/lightslider.css' %}">
</head>

<body id="page-top" data-spy="scroll">
    <!-- HEADER SECTION -->
    {% include 'partials/header_section.html' %}
    <!-- SLIDER -->
    {% include 'partials/slider_section.html' %}
    <!-- PRESS_RELEASE SECTION -->
    {% include 'partials/press_release.html' %}
    <!-- NEWS SECTION -->
    {% include 'partials/news_section.html' %}
    <!-- FEST SECTION -->
    {% include 'partials/fest_section.html' %}
    <!-- NOMINANT SECTION -->
    {% include 'partials/nominant_section.html' %}
    <!-- GALLERY SECTION -->
    {% include 'partials/gallery_section.html' %}
    <!-- FOUNDERS SECTION -->
    {% include 'partials/founders_section.html' %}
    <!-- SPONSORS SECTION -->
    {% include 'partials/sponsors_section.html' %}

    <!-- FOOTER -->
    {% include 'partials/footer_section.html' %}

    <!-- FOOTER SCRIPTS -->
    {% include 'partials/footer_scripts.html' %}
</body>
</html>