@media only screen and (max-width: 768px) {
	.navbar-top{
		padding:0;
		.navbar-nav {
			margin: 0;
			li {
				a {
					text-align: right;
				}
			}
		}
		.logo {
			img {
				width: 80px;
				height: 80px;
				left:15px;
			}
			span {
				margin-left:110px;
				font-size: 20px;
				
			}
		}


	}

	.advert{
		&-col {
			padding: 0;
			margin-bottom: 30px;

			&:last-child{
				margin-bottom: 0;
			}
		}
		&-thumb {
			img{
				// display: none;
			}
		}
	}
	.slick-prev, .slick-next{
		opacity: 0.3 !important;
	}
	.desc{
		position: relative !important;
	    padding: 15px !important;
	    left: 0 !important;
	    right: 0 !important;
	    background: #dc143c !important;


		.desc-title{
			font-size: 14px !important;
		}
		.desc-content {
			font-size: 12px !important;
		}
	}

	.winners{
		.tab-content{
			margin-top:15px;
		}

		.tabs-left {
			.nav-tabs {
				li {
					float:inherit;
					width: 100%;
				}
			} 

		}
	}

	.small-btn{
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		right: 0;

		.btn,
		.btn:hover,
		.btn:active,
		.btn.active {
		    box-shadow: none;
		    border-radius: 0;
		}
		.btn-theme,
		.btn-theme:hover,
		.btn-theme:active,
		.btn-theme.active {
		    border-radius: 3px;
		}
		.btn-theme {
		    position: relative;
		    display: block;

		    color: #5366ce;
		    border-color: #5366ce;
		    text-transform: uppercase;
		    font-size: 14px;
		    padding: 5px 10px;

		    width: 120px;
		    margin: 0 auto;

		    .fa {
		    	padding-right: 10px;
		    }
		}
		.btn-theme:hover {
		    background-color: #435469;
		    border-color: #435469;
		    color: #ffffff;
		}

	}

	.navbar-nav > li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}

}

@media only screen and (max-width: 970px) {
	.advert{
		&-thumb {
			display: block;
		    padding: 0 15px 15px;

			img{
				width:100%;
				height:auto;
			}
		}
		&-info {
			.title{
				font-size: 14px;
			}
		}
	}

	.two-title .btn-theme {
		display: none;
	}

}

