@import "ways";

body{
	font-family: $pt-sans;
}

header{
	margin-bottom: 70px;
}

.no-padding{
	padding:0;
}

.padding {
	padding: 0 15px;
}

.margin-top {
    margin-top: 50px;
}

.margin-top-2 {
    margin-top: 70px;
}

.padding-bottom {
	padding-bottom: 30px;
}

.navbar-top{
	padding: 15px 0;
    background: #fff;
    margin-bottom: 0;

	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

	.navbar-nav li{
		border-left: 1px solid #eee;

	}
	.navbar-brand {
		position: relative;
		display: block;
	}
	.navbar-toggle {
		position: relative;
		display: block;
		float: right;

		&:focus{
			color:red;
		}
	    
	    &:active,
	    &:hover,
	    &:focus {
	    	outline:none;
	    }

	    .icon-bar{
	    	background:$title;
	    }

	}

	.menu-name{
		text-transform: uppercase;
		cursor:pointer;
	}

	.top-header{
		position: absolute;
	    top: 15px;
	    left: 150px;
	    font-size: 30px;
		font-family: $fira-sans;
		color:$title;
		white-space: nowrap;

		&:hover{
			text-decoration: none;
		}

	}

	.navbar-menu{

		li {
			border:none;
			a{
				color:$title;
				font-size: 16px;
				font-family: $pt-sans-bold;
    			text-transform:uppercase;

				&:hover{
					color:#ff9800;
					background:none;
				}

			}
		}
	}

	.logo {
	    float: left;
	    font-size: 30px;
	    font-weight: bold;
	    margin-top: -10px;

	    a {
		   	color: $title;
		    display: inline-block;
		    line-height: 2em;

		    &:hover{
				color: #dc143c;
			    text-decoration: none;
		    }	
	    }

	    img{
	    	position:absolute;
	    	z-index:2;
	    	margin-top: 10px;
	    }
	    span {
	    	margin-left: 130px;
	    }
	}

}

.slick-slider {
	position: relative;
	display: block;
	margin-bottom: 0 !important;
	img{
		width: 100%;
		height: auto;
	}
	.slick-slide{
		position: relative;
	}

	.slick-next {
	    right: 25px;
	    z-index: 2;
	}

	.slick-prev {
	    left: 25px;
	    z-index: 2;
	}

	.slick-prev::before {
	    font-family: FontAwesome;
	    content: "\f053";
	    font-size: 30px;
	}  
	.slick-next::before {
	    font-family: FontAwesome;
	    content:  "\f054";
	    font-size: 30px;        
	}  

	.slick-dots {
		bottom: 0;
	}

	.desc{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 30px 40px;
		background:#dc143c;
		color:#fff;

		.desc-title{
			display: block;
			color:#444;
			font-family: $fira-sans;
			font-size: 20px;
			line-height: 20px;
			margin-bottom: 10px; 
			color:#fff;
		}
		.desc-content {
			font-size: 16px;
		}
	}
}

.section{
	padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    background-color: #fbfbfb;
}

.color{
	background-color: #dc143c;
    color: #ffffff;

    .header-title{
    	color:#fff;

    	.fa-stack .fa {
    		color:#dc143c;
    	}

    	.rhex{
    		background-color: #ffffff;
    	}
    }
}

.light{
    background-color: #f5f5f5;
    color: #435469;
}

.header-title {
	position: relative;
    font-family: $fira-sans;
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    margin: 0 0 40px 0;
    z-index: 0;
    text-transform: uppercase;
    color: $title;
    display: table;
    width: 100%;

    i{
    	margin-right: 20px;
    }

    &::after{
	    // content: '';
	    // position: relative;
	    // display: block;
	    // height: 3px;
	    // width: 100px;
	    // background: #3d449a;
	    // margin-top: 5px;
    }

	.rhex {
	    background-color: #dc143c;
	    margin-top: 10px;
	    width: 50px;
	    height: 28px;
	    border-radius: 2px;
	}
	.rhex:before,
	.rhex:after {
	    position: absolute;
	    top: 0; left: 0;
	    width: inherit;
	    height: inherit;
	    border-radius: inherit;
	    background-color: inherit;
	    content: '';
	}
	.rhex:before {
	    -webkit-transform: rotate(60deg);
	    -moz-transform:    rotate(60deg);
	    -ms-transform:     rotate(60deg);
	    -o-transform:      rotate(60deg);
	    transform:         rotate(60deg);
	}
	.rhex:after {
	    -webkit-transform: rotate(-60deg);
	    -moz-transform:    rotate(-60deg);
	    -ms-transform:     rotate(-60deg);
	    -o-transform:      rotate(-60deg);
	    transform:         rotate(-60deg);
	}
	.fa-stack-1x {
	    line-height: inherit;
	    left: 2px;
	}
	.icons{
	    display: table-cell;
	    width: 70px;
	}
	.fa-stack .fa {
		color:#fff;
	}

	.fa-stack .fa-bell {
		color:#fff;
	}
	.title-text{
		display: table-cell;
	    padding-bottom: 2px;
	    vertical-align: middle;
	}

}

.small-btn{
	display: none;
}

.header-title-sub {
	position: absolute;
    top: 0;
    right: 0;
    font-family: $fira-sans;
    font-size: 24px;
    margin: 0 0 40px 0;
    text-transform: uppercase;
    color: #5366ce;

    background-color: transparent;
    border: 1px solid #435469;
    color: #435469;
    border-radius: 5px;
    padding: 10px;

    i{
    	margin-right: 20px;
    }

    &::after{
	    // content: '';
	    // position: relative;
	    // display: block;
	    // height: 3px;
	    // width: 100px;
	    // background: #3d449a;
	    // margin-top: 5px;
    }

	.rhex {
	    background-color: #dc143c;
	    margin-top: 10px;
	    width: 50px;
	    height: 28px;
	    border-radius: 2px;
	}
	.rhex:before,
	.rhex:after {
	    position: absolute;
	    top: 0; left: 0;
	    width: inherit;
	    height: inherit;
	    border-radius: inherit;
	    background-color: inherit;
	    content: '';
	}
	.rhex:before {
	    -webkit-transform: rotate(60deg);
	    -moz-transform:    rotate(60deg);
	    -ms-transform:     rotate(60deg);
	    -o-transform:      rotate(60deg);
	    transform:         rotate(60deg);
	}
	.rhex:after {
	    -webkit-transform: rotate(-60deg);
	    -moz-transform:    rotate(-60deg);
	    -ms-transform:     rotate(-60deg);
	    -o-transform:      rotate(-60deg);
	    transform:         rotate(-60deg);
	}
	.fa-stack-1x {
	    line-height: inherit;
	    left: 2px;
	}
	.icons{
	    display: table-cell;
	    width: 70px;
	}
	.fa-stack .fa {
		color:#fff;
	}

	.fa-stack .fa-rss {
		color:#fff;
	}
	.title-text{
		display: table-cell;
	    padding-bottom: 2px;
	    vertical-align: middle;
	}

}

.two-title{
	position: relative;
	display: block;

	.btn,
	.btn:hover,
	.btn:active,
	.btn.active {
	    box-shadow: none;
	    border-radius: 0;
	}
	.btn-theme,
	.btn-theme:hover,
	.btn-theme:active,
	.btn-theme.active {
	    border-radius: 10px;
	}
	.btn-theme {
	    position: absolute;
	    top: 0;
	    right: 0;
	    color: #5366ce;

	    border-color: #5366ce;
	    text-transform: uppercase;
	    font-size: 14px;
	    padding: 5px 15px;
	    margin-top: 10px;


	    .fa {
	    	padding-right: 10px;
	    }
	}
	.btn-theme:hover {
	    background-color: #435469;
	    border-color: #435469;
	    color: #ffffff;
	}
}

.sub-title{
	font-family: $fira-sans;
    margin: 20px 0 10px 0;
    color:$title;

    // border-bottom: 1px solid rgba(127, 142, 226, 0.2);
    // padding-bottom: 10px;

    &::after{
	    // content: '';
	    // position: relative;
	    // display: block;
	    // height: 3px;
	    // width: 100px;
	    // background: #3d449a;
	    // margin-top: 5px;
    }
}

.advert {

	&-col{
		margin-top:5px;
	}

	&-thumb {
		display:table-cell;

		img {
			width:160px;
			height:140px;
			border-radius:10px;
		}
	}
	&-info {
		display:table-cell;
		vertical-align: top;
		padding: 0 20px;
		.title{
			margin-top:0;
			font-family: $fira-sans;
			color:#666;
		}
		.content{
			font-family:$pt-sans;
			font-size: 14px;
		}		
	}
}

.founders2 {

	&-col{
		margin-top:5px;
	}

	&-thumb {
		display:table-cell;

		img {
			width:160px;
			height:160px;
			border-radius:50%;
		}
	}
	&-info {
		display:table-cell;
		vertical-align: middle;
		padding: 0 20px;
		.title{
			font-family: $fira-sans;
			color:#666;
		}
		.content{
			font-family:$pt-sans;
			font-size: 14px;
		}		
	}
}

.fest {

	&-info{
		font-size: 18px;
	}
}

.nominant {

	.schedule-wrapper {
	  margin-top: 30px;
	  border: solid 1px #5366ce;
	  border-top: none;
	  border-bottom-width: 10px;
	  border-radius: 30px 30px 10px 10px;
	  overflow: hidden;
	}

	.schedule-tabs {
	  &.lv1 {
	    background-color: $title;
	    color: #ffffff;
	  }
	  &.lv2 {
	    border: solid 1px #8598b0;
	    border-top: none;
	    background-color: #ffffff;
	  }
	}

	.tab-content {
	  &.lv1 {}
	  &.lv2 .tab-pane {
	    padding: 30px 70px;
	  }
	}

	@media (max-width: 1024px) {
	  .tab-content.lv2 .tab-pane {
	    padding: 30px 50px;
	  }
	}

	@media (max-width: 992px) {
	  .tab-content.lv2 .tab-pane {
	    padding: 30px 30px;
	  }
	}

	@media (max-width: 767px) {
	  .tab-content.lv2 .tab-pane {
	    padding: 15px 15px;
	  }

	.schedule-wrapper {
		.nav-justified {
		  
			li{
		    	&:first-child a{
		    		&:hover{
						border-radius: 30px 0 0 0;
						-webkit-border-radius: 30px 0 0 0;
						-moz-border-radius: 30px 0 0 0;
		    		}
		    	}
		    	&:last-child a{

		    		&:hover{
		    			border-radius: 0 30px 0 0;
						-webkit-border-radius: 0 30px 0 0;
						-moz-border-radius: 0 30px 0 0;
		    		}
		    	}
			}	

		    li.active{
		    	background:#dc143c;
		    	overflow: hidden;


		    	&:first-child{
		    		border-radius: 30px 30px 0 0 !important;

		    	}
		    	&:last-child{
		    		border-radius: 0 !important;

		    	}

		    }

		  > li {
		    border-right: none !important;
		    border-bottom: 1px solid rgba(251, 251, 251, 0.36);
		  }
		}
	}

	}

	.schedule-wrapper {
		.navtabs {
			margin-bottom: 0;
		    padding-left: 0;
		    list-style: none;

		    &:before, &:after{
		    	content: " ";
    			display: table;
		    }

		    li {
		    	position: relative;

		    	a {
					position: relative;
				    display: block;
				    padding: 10px 15px;
				    text-decoration: none;
		    	}
		    }
		}
	  .navtabs > li > a {
	    font-weight: 300;
	    &:hover, &:focus {
	      background-color: transparent;
	    }
	  }
	  .schedule-tabs {
	    &.lv1 .navtabs > li {
	      > a {
	        text-transform: uppercase;
	        color: #ffffff;
	       	font-family: $pt-sans-bold;
	    	font-size: 16px;
    		padding: 15px 10px;
    		overflow: hidden;
    		height: 100%;

    		&:hover{
    			background: #dc143c;
    			color:#fff;
    		}
	      }
	      &.active:before {
	        content: '';
	        position: absolute;
	        z-index: 1;
	        top: 100%;
	        right: 50%;
	        width: 0;
	        height: 0;
	        margin-left: -7px;
	        border-left: 7px solid transparent;
	        border-right: 7px solid transparent;
	        border-top: 7px solid #dc143c;
	      }
	    }
	    &.lv2 .navtabs > li > a {
	      color: #293239;
	    }
	    &.lv1 .navtabs > li.active > a {}
	    &.lv2 .navtabs > li.active {
	      > a {
	        color: #dc143c;
	      }
	      &:before {
	        content: '';
	        display: block;
	        height: 2px;
	        width: 100%;
	        position: absolute;
	        bottom: -1px;
	        left: 0;
	        background-color: #dc143c;
	      }
	    }
	  }

	.nav-justified {

		li{
			height: 100%;

	    	&:first-child a{
	    		&:hover{
					border-radius: 30px 0 0 0;
					-webkit-border-radius: 30px 0 0 0;
					-moz-border-radius: 30px 0 0 0;
	    		}
	    	}
	    	&:last-child a{

	    		&:hover{
	    			border-radius: 0 30px 0 0;
					-webkit-border-radius: 0 30px 0 0;
					-moz-border-radius: 0 30px 0 0;
	    		}
	    	}
		}
	  
	    li.active{
	    	background:#dc143c;

	    	&:first-child{
	    		border-radius: 30px 0 0 0;
	    	}
	    	&:last-child{
	    		border-radius: 0 30px 0 0;
	    	}
	    }

	  > li {
	    border-right: 1px solid rgba(251, 251, 251, 0.36);


	    &:last-child{
	    	border:none;

	    }
	    > a {
	      
	    }
	  }
	}

	}

	.timeline {
	  .post-header {
	    margin-bottom: 15px;
	  }
	  .media-body {
	    padding: 0px 25px 10px 25px;
	    background-color: #ffffff;
	    border-radius: 10px;
	  }
	  .pull-left{
	    	padding-right: 0;
	  }
	  .post-media {

	  	&-img{
		    border: solid 8px #afb4ba;
		    border-radius: 50%;
		    overflow: hidden;
	  		
	  	}

		img{
			height: 120px;
			width: 120px;			
		}

	    &.pull-left {
	      margin-right: 60px;
	    }
	  }
	  .post-wrap + .post-wrap {
	    margin-top: 30px;
	  }
	  .post-title {
	    font-size: 20px;
	    font-weight: 700;
	    color: #dc143c;
	    border-bottom: solid 1px #d2d2dc;
	    padding-bottom: 12px;
	    margin-bottom: 12px;
	    a {
	      color: #dc143c;
	      &:hover {
	        color: #000000;
	      }
	    }
	  }
	  .post-meta {
	    font-family: 'Roboto', sans-serif;
	    font-size: 24px;
	    font-weight: 300;
	    color: #293239;
	    margin-bottom: 10px;
	    a {
	      .fa {
	        color: #dc143c;
	      }
	      &:hover .fa {
	        color: #293239;
	      }
	    }
	    .fa-stack {
	      line-height: 32px;
	      height: 32px;
	      width: 32px;
	    }
	    .fa-stack-2x {
	      line-height: 32px;
	      font-size: 32px;
	    }
	    .fa-stack-1x {
	      line-height: 32px;
	      font-size: 16px;
	    }
	  }
	  .post-excerpt {
	    font-size: 16px;
	  }
	  .post-readmore {
	    color: #293239;
	    text-align: left;
	    a {
	      color: #293239;
	      &:hover {
	        color: #dc143c;
	      }
	    }
	    .fa {
	    	width: 18px;
	    	text-align: center;
	    }
	  }
	}

	@media (max-width: 1024px) {
	  .timeline .post-media.pull-left {
	    margin-right: 30px;
	  }
	}

	@media (max-width: 767px) {
	  .timeline .post-media {
		float: none !important;
		margin-left: auto !important;
		margin-right: auto !important;
		height: 120px;
		width: 120px;
		margin-bottom: 15px;
	  }

	  .timeline  .post-title, .timeline .post-footer {
	  	text-align: center;
	  }
	}

	.btn,
	.btn:hover,
	.btn:active,
	.btn.active {
	    box-shadow: none;
	    border-radius: 0;
	}
	.btn-theme,
	.btn-theme:hover,
	.btn-theme:active,
	.btn-theme.active {
	    border-radius: 10px;
	}
	.btn-theme {
	    color: #fbfbfb;
	    background-color: #dc143c;
	    border-color: #fff;
	    text-transform: uppercase;
	    font-size: 18px;
	    font-weight: 700;
	    line-height: 1;
	    padding: 15px 35px;

	    -webkit-transition: all 0.2s ease-in-out;
	    transition: all 0.2s ease-in-out;
	}
	.btn-theme:hover {
	    background-color: #435469;
	    border-color: #435469;
	    color: #ffffff;
	}

	.watch{
		margin-top: 10px;
		text-align: center;
	}
	
}
.gallery {
	.media{
		.post-media{
		    margin-bottom: 20px;
		    border-radius: 10px;
		    overflow: hidden;

		    .post-type{
			    position: absolute;
			    top: 10px;
			    right: 25px;
			    width: 40px;
			    height: 40px;
			    background-color: rgba(255, 255, 255, 0.8);
			    border-radius: 10px;
			    text-align: center;
			    line-height: 40px;
		    }
		    img{
			    max-width: 100%;
			    width: 100%;
		    }
		    .fa{
		    	color:#6d7a83;
		    }
		}
		.post-header{
		    margin-bottom: 20px;
		    position: relative;

		    .post-title{
			    font-weight: 700;
			    margin-top: 0;
			    margin-bottom: 25px;
			    font-size: 18px;

			    a{
				    color: #fff;
				    line-height: 1;
			    }
		    }
		}
	}

	.btn,
	.btn:hover,
	.btn:active,
	.btn.active {
	    box-shadow: none;
	    border-radius: 0;
	}
	.btn-theme,
	.btn-theme:hover,
	.btn-theme:active,
	.btn-theme.active {
	    border-radius: 10px;
	}
	.btn-theme {
	    color: #ffffff;
	    background-color: none;
	    border-color: #fff;
	    text-transform: uppercase;
	    font-size: 18px;
	    font-weight: 700;
	    line-height: 1;
	    padding: 15px 35px;

	    -webkit-transition: all 0.2s ease-in-out;
	    transition: all 0.2s ease-in-out;
	}
	.btn-theme:hover {
	    background-color: #435469;
	    border-color: #435469;
	    color: #ffffff;
	}
	.color .btn-theme {
	    color: #dc143c;
	    background-color: #ffffff;
	    border-color: #ffffff;
	}
	.color .btn-theme:hover {
	    background-color: #5366ce;
	    border-color: #435469;
	    color: #ffffff;
	}
}

.news {
	.media{
		.post-media{
		    margin-bottom: 20px;
		    border-radius: 10px;
		    overflow: hidden;

		    img{
			    max-width: 100%;
			    width: 100%;
		    }
		}
		.post-header{
		    margin-bottom: 20px;
		    position: relative;

		    .post-title{
			    margin-top: 0;
			    margin-bottom: 25px;
			    font-size: 16px;
			    font-family: $fira-sans;

			    a{
				    color: #435469;
				    line-height: 1;
			    }
		    }
		}
	}

	.btn,
	.btn:hover,
	.btn:active,
	.btn.active {
	    box-shadow: none;
	    border-radius: 0;
	}
	.btn-theme,
	.btn-theme:hover,
	.btn-theme:active,
	.btn-theme.active {
	    border-radius: 10px;
	}
	.btn-theme {
	    color: #fbfbfb;
	    background-color: #dc143c;
	    border-color: #fff;
	    text-transform: uppercase;
	    font-size: 18px;
	    font-weight: 700;
	    line-height: 1;
	    padding: 15px 35px;

	    -webkit-transition: all 0.2s ease-in-out;
	    transition: all 0.2s ease-in-out;
	}
	.btn-theme:hover {
	    background-color: #435469;
	    border-color: #435469;
	    color: #ffffff;
	}
}

.text-left{
	padding-top:10px;
}

.founders{
	.hex {
	    position: relative;
	    /*height: ;*/ /*width: 170px;*/
	    width: 165px;
	    margin: 0 auto;
	}
	.hex .hex-inner {
	    margin: 0 auto;
	    height: 190px; width: 170px;
	    text-align: center;
	    -webkit-transform: none;
	    -moz-transform: none;
	    -o-transform: none;
	    -ms-transform: none;
	    transform: none;
	}
	.hex-deg {
	    overflow: hidden;
	    width: 100%; height: 100%;
	    -webkit-transform: rotate(120deg);
	    -moz-transform: rotate(120deg);
	    -o-transform: rotate(120deg);
	    -ms-transform: rotate(120deg);
	    transform: rotate(120deg);
	}
	.hex-deg .hex-deg {
	    width: 100%; height: 100%;
	    -webkit-transform: rotate(-60deg);
	    -moz-transform: rotate(-60deg);
	    -o-transform: rotate(-60deg);
	    -ms-transform: rotate(-60deg);
	    transform: rotate(-60deg);
	}
	.hex-deg .hex-deg .hex-deg {}

	.hex.testimonial-avatar {width: 100px;}
	.hex.testimonial-avatar .hex-inner {height: 115px; width: 100px;}
	.wohexagon.testimonial-avatar {width: 100px; border-radius: 10px; overflow: hidden;}
	.wohexagon.testimonial-avatar .wohexagon-inner {height: 115px; width: 100px;}
	.hex.speaker-avatar {}
	.hex.speaker-avatar .hex-inner {}

	.thumbnail{
	    position: relative;
	    background-color: transparent;
	    border-radius: 0;
	    margin: 0;

	    border-radius: 10px;
    	overflow: hidden;
    	margin-bottom: 20px;

    	.media{
		    overflow: hidden;
		    position: relative;
		    border-radius: 10px;
		    -webkit-transform: translateZ(0) scale(1.0, 1.0);

		    &:first-child{
   				margin-top: 0;
		    }

		    img{
				max-width: 100%;
				width: 100%;
		    }
    	}

    	.caption{
		    padding: 20px 0 0 0;
		    overflow: hidden;
		    font-size: 14px;
		    min-height: 80px;


		    .caption-title{
		    	font-size: 18px;
			    font-weight: 700;
			    line-height: 24px;
			    text-transform: uppercase;
			    margin: 0 0 0 0;
			    color: #0d1d31;
		    }

		    .caption-category{
		    	font-size: 14px;
			    font-weight: 700;
			    margin-bottom: 0;
			    text-transform: uppercase;
			    line-height: 14px;
			    color: #dc143c;
		    }
    	}
	}

	.thumbnail.no-border{
		border: none;
	}
}

.social-line {
    margin: -15px 0 0 0;
    line-height: 33px;

   	li {
    	padding: 20px 5px 15px 0;
	}
	a {
	    display: block;
	    width: 30px;
	    height: 15px;
	    line-height: 15px;
	    background-color: #c3c3c3;
	    color: #ffffff;
	    text-align: center;
	    position: relative;

	    &:before {
		    content: '';
		    position: absolute;
		    top: -10px; left: 0;
		    width: 0; height: 0;
		    border-left: 15px solid transparent;
		    border-right: 15px solid transparent;
		    border-bottom: 10px solid #c3c3c3;
		}

		&:after {
		    content: '';
		    position: absolute;
		    bottom: -10px; left: 0;
		    width: 0; height: 0;
		    border-left: 15px solid transparent;
		    border-right: 15px solid transparent;
		    border-top: 10px solid #c3c3c3;
		}
	}
	a.twitter {background-color: #2daae1;}
	a.twitter:before {border-bottom-color: #2daae1;}
	a.twitter:after {border-top-color: #2daae1;}
	a.facebook {background-color: #3c5b9b;}
	a.facebook:before {border-bottom-color: #3c5b9b;}
	a.facebook:after {border-top-color: #3c5b9b;}
	a.instagram {background-color: #517fa4;}
	a.instagram:before {border-bottom-color: #517fa4;}
	a.instagram:after {border-top-color: #517fa4;}
	a:hover {background-color: #dc143c;}
	a:hover:before {border-bottom-color: #dc143c;}
	a:hover:after {border-top-color: #dc143c;}
	a,
	a:hover {
	    -webkit-transition: none;
	    -moz-transition: none;
	    -ms-transition: none;
	    -o-transition: none;
	    transition: none;
	}
}

.page{
	background-color: #f5f5f5;

	.article{

		&-title{
			position: relative;
		    font-family: $fira-sans;
		    font-size: 20px;
		    // font-weight: 900;
		    line-height: 24px;
		    z-index: 0;
		    color: $title;
		    display: table;
		    width: 100%;
		}

		article{
			margin:30px 0;
			font-size: 16px;
		}
		.slider-for{
		  padding: 0;
		}
		.slider-nav{
		  padding: 0 30px;
		}
		.slider-for{
		  margin-bottom: 20px !important;
		}
		.slider-for .slick-slide {
		  top: 0;
		  bottom: 0;
		  overflow: hidden;
		  height: 500px;
		  width: auto;
		  margin: auto;
		}
		.slider-for .slick-slide img {
		  height: 500px;
		  margin: 0 auto;
		  width: auto;
		}
		.slide-caption {
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  right: 0;

		  background: rgba(0, 0, 0, 0.5);
		  display: block;
		  color: #ffffff;
		  font-size: 14px;
		  line-height: 60px;
		  text-align: center;
		}
		.slider-for .slick-prev, .slider-for .slick-next{
		  width: 40px;
		  height: 40px;
		  background: rgba(0, 0, 0, 0.5);
		  text-align: center;
		}
		.slider-for .slick-prev {
		  left: 0px;
		  z-index: 1000;
		}
		.slider-for .slick-next {
		  right: 0px;
		  z-index: 1000;
		}
		.slider-for .slick-next::before, .slider-for .slick-prev::before {
		  color: #ffffff !important;
		  font-size: 24px;
		}
		.slider-nav .slick-slide {
		  height: 100px;
		  margin: 0 5px;
		  overflow: hidden;
		  cursor: pointer;
		  text-align: center;

		  opacity: 0.5;
		}
		.slider-nav .slick-slide.slick-current{
		  opacity: 1;
		}
		.slider-nav .slick-slide img {
		  height: 100%;
		  width: auto;
		}
		.slider-nav .slick-prev {
		  left: 0px;
		}
		.slider-nav .slick-next {
		  right: 0px;
		}
	}

	.slick-prev:before, .slick-next:before {
		color:$title;
	}
}

.page.gallery .media .post-header .post-title a{
	color:$title;
	font-size: 14px;
}

.page-footer{
	background:#fff !important;
}

.sponsors-item{

	.slick-dots {
		bottom: -40px;
	}

	.slick-next{
		right: -25px;

		&:before{
			color: #dc143c;
		}
	}
	.slick-prev{
		left: -25px;

		&:before{
			color: #dc143c;
		}
	}
}

.image-gallery {
  margin-top: 20px;
  ul li {
    a {
      border: 3px solid #FFF;
      border-radius: 3px;
      display: block;
      overflow: hidden;
      position: relative;
      float: left;
      img {
        -webkit-transition: -webkit-transform 0.15s ease 0s;
        -moz-transition: -moz-transform 0.15s ease 0s;
        -o-transition: -o-transform 0.15s ease 0s;
        transition: transform 0.15s ease 0s;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        height: 100%;
        width: 100%;
      }
      &:hover {
        > img {
          -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
        }
        .image-gallery-poster img {
          opacity: 1;
          height: auto;
          width: auto;
        }
      }
      .image-gallery-poster {
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: background-color 0.15s ease 0s;
        -o-transition: background-color 0.15s ease 0s;
        transition: background-color 0.15s ease 0s;
        img {
          left: 50%;
          margin-left: -10px;
          margin-top: -10px;
          opacity: 0;
          position: absolute;
          top: 50%;
          -webkit-transition: opacity 0.3s ease 0s;
          -o-transition: opacity 0.3s ease 0s;
          transition: opacity 0.3s ease 0s;
		  height: auto;
          width: auto;
        }
      }
      &:hover .image-gallery-poster {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.footer{

	.footer-meta{
	    color: #414650;
	    font-size: 18px;
	}
	.social-line {
	    margin: 0 0 20px 0;
	    line-height: 70px;
	}
	.social-line li {
	    padding: 20px 5px 15px 0;
	}
	.social-line a {
	    width: 60px;
	    height: 35px;
	    line-height: 35px;
	    font-size: 30px;
	}
	.social-line a:before {
	    top: -15px;
	    border-left-width: 30px;
	    border-right-width: 30px;
	    border-bottom-width: 15px;
	}
	.social-line a:after {
	    bottom: -15px;
	    border-left-width: 30px;
	    border-right-width: 30px;
	    border-top-width: 15px;
	}

	.social-line.social-circle a {
	    height: 30px;
	    border-radius: 15px;
	    line-height: 28px;
	}
	.social-line.social-circle a:before,
	.social-line.social-circle a:after {
	    display: none;
	}
	.footer .social-line.social-circle a {
	    height: 60px;
	    border-radius: 30px;
	    line-height: 58px;
	}
}

@import "media-small";